<div class="row d-flex justify-content-center">
  <% @rooms.each do |room| %>
  <div class="card-trip col-sm-4">
    <img src="https://images.unsplash.com/photo-1596394516093-501ba68a0ba6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" />
    <div class="card-trip-infos">
      <%= link_to room_path(room) do %>
      <div class="infos">
        <div>
          <h2><%= room.hotel.name %></h2>
          <p><%= room.hotel.address %></p>
        </div>
        <div>
          <p><%= pluralize(room.capacity, "personne") %></p>
          <h2 class="card-trip-pricing"><%= room.price_per_night %></h2>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
