
<div>
  <%= @room.hotel.name %>
  <%= @room.hotel.address %>
  <%= @room.price_per_night %>
  <%= @room.capacity %>
</div>

<div>
  <%= simple_form_for [@room, @booking] do |f| %>
    <%= f.input :starts_at, html5: true, label: "Date d'arrivée" %>
    <%= f.input :ends_at, html5: true, label: "Date de départ" %>
    <%= f.submit "Réserver" %>
  <% end %>
</div>
<div>
  <%= link_to "Retour", rooms_path %>
</div>
