<div class="card">
  <div class="room-infos">
    <div class="room-img">
      <%= image_tag "https://images.unsplash.com/photo-1596394516093-501ba68a0ba6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" %>
    </div>
    <div class="infos d-flex flex-column mb-3">
        <div class="d-flex p-2">
          <h4><%= @room.hotel.name %></h2>
        </div >
        <div class="d-flex p-2">
          <%= @room.hotel.address %>
        </div>
        <div class="d-flex p-2">
          <%= @room.price_per_night %><p>€ /nuit</p>
        </div>
        <div class="d-flex p-2">
          <%= pluralize(@room.capacity, "personne") %>
        </div>
    </div>
  </div>

  <div class="booking-form">
    <%= simple_form_for [@room, @booking] do |f| %>
      <%= f.input :starts_at,
        html5: true,
        label: "Date d'arrivée",
        wrapper_html: { class: "mb-4" },
        input_html: { data: { controller: "flatpickr", id:"rangePlugin" },
        placeholder:"Select Date..." } %>
      <%= f.input :ends_at,
        html5: true,
        label: "Date de départ",
        wrapper_html: { class: "mb-4" },
        input_html: { data: { controller: "flatpickr" },
        placeholder:"Select Date...",
        id:"secondRangeInput" } %>
      <%= f.submit "Réserver" %>
    <% end %>
  </div>
  <div>
    <%= link_to "Retour", rooms_path, class:"btn btn-success"%>
  </div>
</div>
